.center {
    text-align: center;
}

.lighter {
    color: $colorTextLighter;
}

.light {
    color: $colorTextLight;
}

.big {
    font-size: 18px;
}

.add4left {
    margin-left: 4px;
}
.add4bottom {
    margin-bottom: 4px;
}