// Set Color Variables
$black: #000;
$blue: #5294FF;

$colorStroke: #212121;

$colorChartStroke: #14A887;
$colorChartPrimaryBackgroundFrom: #13C9FF;
$colorChartPrimaryBackgroundTo: #00FF97;
$colorChartSecondaryBackgroundFrom: #EB7A4A;
$colorChartSecondaryBackgroundTo: #F643CF;

$colorText: #dcdcdc;
$colorTextLight: #646464;
$colorTextLighter: #8D97A0;

// Set Size Variables
$radiusOuter: 12px;
$radiusInner: 10px;
$gap: 10px;